// color palette
$dark_black: #111
$link: dodgerblue
$highlighted_link: orangered

// font stack
// TODO: check alternate fall-back typefaces
$font_stack_roman: "HelveticaNeueLTStd-Roman", Helvetica, Arial, sans-serif
$font_stack_bold: "HelveticaNeueLTStd-Bd", Helvetica, Arial, sans-serif
$font_stack_medium-condensed: "HelveticaNeueLTStd-MdCn", Helvetica, Arial, sans-serif
$font_stack_light: "HelveticaNeueLTStd-Lt", Helvetica, Arial, sans-serif
