article
  width: 100%
  padding: 0px 0px 40px 0px
  background-color: pink

  .hero-image
    width: 100%
    height: auto
    vertical-align: bottom
    max-width: 100%

  .text-column
    margin: 0px auto 0px auto
    max-width: 512px
    padding: 16px 16px 0px 16px

  h2
    font-family: $font_stack_medium-condensed
    font-size: 20px
    margin-top: 8px

  p
    margin-bottom: 8px
    line-height: 24px
    font-family: $font_stack_roman
    font-size: 1em

  a
    font-family: $font_stack_bold
    font-size: 1em
    display: block
    margin-top: 24px
    text-decoration: none

    &:hover
      text-decoration: underline

article.light
  background-color: $light_background
  color: $dark_text
  a
    color: $dark_link
    &:hover
      color: $highlighted_dark_link

article.dark
  background-color: $dark_background
  color: $light_text
  a
    color: $light_link
    &:hover
      color: $highlighted-light_link
