nav
  width: 100%
  display: flex
  justify-content: space-around

  a
    padding: 16px 16px
    font-family: $font_stack_roman
    color: #fff
    text-decoration: none
    white-space: nowrap

@media screen and (min-width: 592px)
  nav
    width: auto

    a
      padding: 16px 16px

@media screen and (min-width: 768px)
  nav
    a
      padding-left: 32px
      padding-right: 32px
      font-size: 1.2em
