#nav
  width: 100%
  background-color: $dark_black
  display: flex
  justify-content: center

  a
    padding: 16px 16px
    font-family: "HelveticaNeueLTStd-Roman", Helvetica, Arial, sans-serif
    font-size: 14px
    color: #fff
    text-decoration: none
