article
  width: 100%
  padding: 0px 0px 40px 0px
  background-color: $light_background

  a
    font-family: $font_stack_bold
    font-size: 1em
    display: block
    margin: 24px auto 0px auto
    text-decoration: none

    &:hover
      text-decoration: underline

  img.hero-image
    width: 100%
    height: auto
    vertical-align: bottom
    max-width: 100%
    min-height: 192px
    max-height: 70vh
    object-fit: cover

  img.hero-image.top-space
    max-height: none
    margin-top: 40px

  .text-column
    margin: 0px auto
    max-width: 512px
    padding: 32px 16px 0px 16px

  .product-feature
    background-color: $light_background
    color: $dark_text
    margin-top: 32px
    padding: 16px 0px 16px 0px

    h3
      font-family: $font_stack_bold
      font-size: 1.2em
      text-align: center
      margin: 0px 24px

    p
      margin: 0px 16px 0px 16px

    img
      width: 100%

article.light
  background-color: $light_background
  color: $dark_text

  a
    color: $dark_link

    &:hover
      color: $highlighted_dark_link

article.medium
  background-color: $medium_background

article.dark
  background-color: $dark_background
  color: $light_text

  a
    color: $dark_link

    &:hover
      color: $highlighted-light_link
