.namecard-container
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.namecard
  width: 100%
  max-width: 288px
  margin-top: 32px
  padding: 16px 16px 60px 16px
  box-sizing: border-box
  background-color: $light_background
  text-align: center
  font-family: $font_stack_roman

  .name
    font-size: 1.5em
    color: $name_red

  .title
    margin-top: 16px
