doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title About Us
    link(rel="stylesheet", href="styles/main.css")

  body
    include _layouts/_header.pug
    include _layouts/_nav.pug

    div#subsection About Us

    article.light
      img.hero-image.top-space(src="img/atlas_exterior.jpg", alt="Exterior image of Atlas Genomics building")
      div.text-column
        h2 A Trusted Partner in Research
        p Atlas Genomics is a CLIA-accredited, highly complex, molecular diagnostic laboratory founded in 2014 and located in Seattle, Washington. We offer a multitude of CRO capabilities, including Next Generation Sequencing; DNA, RNA, and protein analysis; qPCR; single or multiplex analysis; and more. Our highlighted platforms include ProcartaPlex™ multiplex immunoassays and QuantiGene™ Plex, which may measure up to 80 genes in single well.

        p We are currently working with top drug discovery firms, partnering to ensure their clinical project timelines are on schedule and within budget. A key component of our laboratory is our unique and personal commitment to our biotechnology partners, which provides them the highest quality data at a fraction of the time offered by other laboratories.

        p Our tenured laboratory staff is nimble, attentive, and informative — and we keep our valued clients informed of progress every step of the way. When looking for a reliable and trustworthy partner, look to Atlas Genomics.

    article.medium
      div.text-column
        h2.centered Meet the CRO Team
        p Atlas Genomics’ personnel comprises a tight-knit and talented team of highly skilled individuals that work together to produce results custom-tailored to their prized clients. Every client and order is special to us, and we treat every task with care and attention.

        div.namecard-container
          div.namecard
            div.name Dr. Michael Kalnoski
            div.title CEO and Medical Director

          div.namecard
            div.name Dr. Abigail Ting
            div.title Laboratory Manager

          div.namecard
            div.name Renee Takara
            div.title Assistant Laboratory Manager

          div.namecard
            div.name Chris Destro
            div.title Vice President Commercialization

    include _layouts/_footer.pug
