doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="If you’re interested in joining a dedicated team of trained researchers and scientists, consider a career at Atlas Genomics.")
    title Careers | Atlas Genomics CRO
    link(rel="stylesheet", href="styles/main.css")

  body
    include _layouts/_header.pug

    div#subsection 
      div.title Careers

    article.light#careers
      img.hero-image(src="img/atlas_employees.jpg", alt="Atlas employees working in the laboratory")
      div.text-column
        h2.centered Join the Team at Atlas Genomics
        p Are you interested in joining our team of disciplined researchers and scientists? We want to hear from you. Explore career opportunities at Atlas Genomics. Available positions are listed below.
        h4 There are no positions available at this time.

    include _layouts/_footer.pug
