doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Contact
    link(rel="stylesheet", href="styles/main.css")

  body
    include _layouts/_header.pug
    include _layouts/_nav.pug

    div#subsection Contact

    article.light
      div.text-column
        div.contact-info
          p.division General Inquiries:
          div.details
            p Chris Destro
            p Vice President Commercialization
            p (888) 618-9107
          p.email-address chrisdestro@atlas-genomics.com

      div.text-column
        div.address
          p.name Atlas Genomics
          div.street-address
            p 2296 W Commodore Way #220
            p Seattle, WA 98199

          |
          |
          img#map(src="img/address_map.png", alt="Image of Atlas Genomics location on map")

    include _layouts/_footer.pug
