doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Atlas Genomics provides world-class contract research (CRO) services while maintaining a close, personal relationship with our clients and partners.")
    title Atlas Genomics CRO — Seattle, WA
    link(rel="stylesheet", href="styles/main.css")

  body
    include _layouts/_header.pug
    |
    |

    article.light.transition
      img.hero-image.reduces#landing-hands(src="img/handcrafted_results-smaller.jpg", alt="Gloved hands opening an Agilent 2000 Bioanalyzer")

      div.text-column#landing-hands
        h2 Contract Research Organization Delivering Handcrafted Results
        p Atlas Genomics is a Seattle-based CRO dedicated to providing world-class research services while maintaining a close, personal relationship with our clients and partners. We offer unique, custom assays tailored to specific scientific needs — in addition to standard, off-the-shelf solutions — and we pride ourselves in returning results quickly.
        |
        |
        a(href="croservices.html") Learn more about our CRO services.

      img.hero-image#transition(src="img/transition_angles.png", alt="Angled transition image")

    article.dark.transition
      img.hero-image.reduces#interview(src="img/interview_pathogens.jpg", alt="Microscopic pathogens under high magnification")

      div.text-column
        h2 Head of Society for the Immunotherapy of Cancer Discusses Product Benefits
        p Thermo Fisher Scientific interviewed Lisa Butterfield, who runs the immune monitoring and biomarkers labs at UPCI/UPMC and is the current president of the Society for the Immunotherapy of Cancer (SITC). This interview highlights the utility of the Thermo Fisher ProcartaPlex Immuno-Oncology Checkpoint Panel and ProcartaPlex Immune Monitoring 65 Plex panel for biomarker discovery using samples from clinical trials.
        |
        |
        a(href="https://www.thermofisher.com/us/en/home/new-ideas/life-in-the-lab/summer-2017-immuno-oncology/uncovering-checkpoint-biomarkers.html") Read the Thermo Fisher Scientific interview.
        |
        |
      div.product-container
        div.product-feature
          h3 ProcartaPlex Human Immuno-Oncology Checkpoint Panel
          img(src="img/procartaplex_checkpoint_panel.jpg", alt="ProcartaPlex Checkpoint Panel Packaging")
          p The ProcartaPlex Immuno-Oncology Checkpoint Panel is the first commercially available multiplex immunoassay system that allows simultaneous detection of the soluble forms of the following analytes: BTLA, GITR, HVEM, IDO, LAG-3, PD-1, PD-L1, PD-L2, Tim-3, CD28, CD80, 4-1BB, CD27, and CTLA-4. Soluble isoforms, or shed variants of these molecules, have been described and can be quantitated by this innovative assay.

        div.product-feature
          h3 ProcartaPlex Immune Monitoring 65 Plex
          img(src="img/procartaplex_65plex.jpg", alt="Visualization of Luminex™ technology")
          p ProcartaPlex™ immunoassays are the ideal solution for assessing multiple protein biomarkers in a single sample. ProcartaPlex assays use Luminex™ xMAP technology for the multi-analyte detection of secreted proteins including cytokines, chemokines, growth factors and other proteins.

      img.hero-image#transition-lower(src="img/transition_angles-white.png", alt="Angled transition image")

    article.light
      img.hero-image.reduces#interview(src="img/laboratory_interior.jpg", alt="Interior image of Atlas Genomics laboratory")

      div.text-column
        h2 Become our Partner in Research
        p We look forward to working with you to formulate a plan that addresses your specific research needs and goals, no matter the scope or the size. We are determined to fulfill your unique CRO requests.
        |
        |
        a(href="contact.html") Get in touch with one of our representatives.

    include _layouts/_footer.pug
