doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Page Title
    link(rel="stylesheet", href="styles/main.css")

  body
    include _layouts/_header.pug
    include _layouts/_nav.pug
    |
    |
    <!-- Hidden h1 text for SEO purposes -->
    h1 Atlas Genomics, Seattle, WA provides CRO research

    article.light
      img.hero-image(src="img/handcrafted_results-smaller.jpg", alt="Gloved hands opening an Agilent 2000 Bioanalyzer")

      div.text-column
        h2 Contract Research Organization Delivering Handcrafted Results
        p Atlas Genomics is dedicated to providing world-class research services while maintaining a close, personal relationship with our clients and partners. We offer unique, custom assays tailored to specific scientific needs — in addition to standard, off-the-shelf solutions — and we pride ourselves in returning results quickly.
        |
        |
        a(href="#") Learn more about our CRO services.

    article.dark
      img.hero-image(src="img/interview_pathogens.jpg", alt="Microscopic pathogens under high magnification")

      div.text-column
        h2 Head of Society for the Immunotherapy of Cancer Discusses Product Benefits
        p Thermo Fisher Scientific interviewed Lisa Butterfield, who runs the immune monitoring and biomarkers labs at UPCI/UPMC and is the current president of the Society for the Immunotherapy of Cancer (SITC). This interview highlights the utility of the Thermo Fisher ProcartaPlex Immuno-Oncology Checkpoint Panel and ProcartaPlex Immune Monitoring 65 Plex panel for biomarker discovery using samples from clinical trials.
        |
        |
        a(href="#") Read the Thermo Fisher Scientific interview.
